{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Certificate</title>
   <style>
     body {
    font-family: sans-serif;
    font-size:small;
    
  }
  @media print {
    a::after {
      content: " (" attr(href) ") ";
    }
    pre {
      white-space: pre-wrap;
    }
    @page {
      margin: 0.75in;
      size: Letter;
      @top-right {
        content: counter(page);
      }
    }
    @page :first {
      @top-right {
        content: "";
      }
    }
  }
   </style>
  </head>
  <body >
<div >
  <di>
         <span style="font-size:40px; font-weight:bold">Certificate of Completion</span>
         <br><br>
         <span style="font-size:25px"><i>This is to certify that</i></span>
         <br><br>
         <span style="font-size:30px"><b>{{Name}}</b></span><br/><br/>
         <span style="font-size:25px"><i>has completed the course</i></span> <br/><br/>
         <span style="font-size:30px">{{Project}}</span> <br/><br/>
         <span style="font-size:20px">with score of <b>{{grade}}</b></span> <br/><br/><br/><br/>
        
        
       
        
  </div>
  </div>
</body>
  </html>
