body {
    font-family: sans-serif;
    background-color: red;
  }
  @media print {
    a::after {
      content: " (" attr(href) ") ";
    }
    pre {
      white-space: pre-wrap;
    }
    @page {
      margin: 0.75in;
      size: Letter;
      @top-right {
        content: counter(page);
      }
    }
    @page :first {
      @top-right {
        content: "";
      }
    }
  }